<a href="https://colab.research.google.com/github/idontcalculate/kaggletweets/blob/main/Solution_KaggleTweets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [ ]:
!unzip /content/drive/MyDrive/datasets/jigsaw-toxic-comment-classification-challenge.zip

Archive:  /content/drive/MyDrive/datasets/jigsaw-toxic-comment-classification-challenge.zip
  inflating: sample_submission.csv.zip
  inflating: test.csv.zip
  inflating: test_labels.csv.zip
  inflating: train.csv.zip

In [ ]:
!wget https://raw.githubusercontent.com/mrdbourke/tensorflow-deep-learning/main/extras/helper_functions.py

--2021-06-10 11:58:16--  https://raw.githubusercontent.com/mrdbourke/tensorflow-deep-learning/main/extras/helper_functions.py
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 10246 (10K) [text/plain]
Saving to: ‘helper_functions.py’

helper_functions.py 100%[===================>]  10.01K  --.-KB/s    in 0s

2021-06-10 11:58:16 (98.5 MB/s) - ‘helper_functions.py’ saved [10246/10246]

In [ ]:
from helper_functions import unzip_data, create_tensorboard_callback, plot_loss_curves, compare_historys

In [ ]:
!unzip /content/test_labels.csv.zip

!unzip /content/train.csv.zip

!unzip /content/test.csv.zip

import pandas as pd 
train_df = pd.read_csv('/content/train.csv.zip')
test_df  = pd.read_csv('/content/test.csv.zip')

test_labels = pd.read_csv('/content/test_labels.csv.zip')

len(train_df), len(test_df)

# How many samples total?
print(f"Total training samples: {len(train_df)}")
print(f"Total test samples: {len(test_df)}")
print(f"Total samples: {len(train_df) + len(test_df)}")

def create_text_label(dataframe):
  texts = dataframe.comment_text.to_numpy()
  labels = dataframe.drop(columns =['id','comment_text']).to_numpy()
  return texts,labels

x_train,y_train = create_text_label(train_df)

x_test,y_test = create_text_label(test_df)

y_test = test_labels.drop('id',axis = 1).to_numpy()

x_train[:10],y_train[:10]

x_test[:10],y_test[:10]

# y_train.head()

len(x_train)

# len(train_data_text[0])

import tensorflow as tf
from tensorflow.keras.layers.experimental.preprocessing import TextVectorization

# Use the default TextVectorization
text_vectorizer = TextVectorization(max_tokens=None, # how many words in the vocabulary (all of the different words in your text)
                                    standardize="lower_and_strip_punctuation", # how to process text
                                    split="whitespace", # how to split tokens
                                    ngrams=None, # create groups of n-words?
                                    output_mode="int", # how to map tokens to numbers
                                    output_sequence_length=None, # how long should the output sequence of tokens be?
                                    pad_to_max_tokens=True)

"""For max_tokens (the number of words in the vocabulary), multiples of 10,000 (10,000, 20,000, 30,000) or the exact number of unique words in your text (e.g. 32,179) are common values.

For our use case, we'll use 10,000.

And for the output_sequence_length we'll use the average number of tokens per Tweet in the training set. But first, we'll need to find it.
"""

# Setup text vectorization variables
max_vocab_length = 10000 # max number of words to have in our vocabulary
max_length = 15 # max length our sequences will be (e.g. how many words from a Tweet does our model see?)

text_vectorizer = TextVectorization(max_tokens=max_vocab_length,
                                    output_mode="int",
                                    output_sequence_length=max_length)

"""putting dataframe into data_sentences, and then making and array, before vectorizing. """

text_vectorizer.adapt(x_train)
# x_test = text_vectorizer.adapt(np.array(x_test))

"""text_vectorizer.adapt(y_train)"""

text_vectorizer(x_train[:1])

sample_scentence = 'this is the sample scentence'
text_vectorizer([sample_scentence])

text_vocab = text_vectorizer.get_vocabulary()

text_vectorizer(x_test)

# Get the unique words in the vocabulary
words_in_vocab = text_vectorizer.get_vocabulary()
top_5_words = words_in_vocab[:5] # most common tokens (notice the [UNK] token for "unknown" words)
bottom_5_words = words_in_vocab[-5:] # least common tokens
print(f"Number of words in vocab: {len(words_in_vocab)}")
print(f"Top 5 most common words: {top_5_words}") 
print(f"Bottom 5 least common words: {bottom_5_words}")

"""activating embedding layer"""

from tensorflow.keras import layers

embedding = layers.Embedding(input_dim=max_vocab_length, # set input shape
                             output_dim=128, # set size of embedding vector
                             embeddings_initializer="uniform", # default, intialize randomly
                             input_length=max_length) # how long is each input

embedding

# Get a random sentence from training set
import random
random_sentence = random.choice(x_train)
print(f"Original text:\n{random_sentence}\
      \n\nEmbedded version:")

# Embed the random sentence (turn it into numerical representation)
sample_embed = embedding(text_vectorizer([random_sentence]))
sample_embed

#single token's embedding
sample_embed[0][0]

"""creating the basseline model"""

x_train.shape, y_train.shape

#SAVE DIR AND CALLBACKS

from helper_functions import create_tensorboard_callback

#create dir to save tensorboard logs
SAVE_DIR = "model_logs"

#print(type(SAVE_DIR))

# Create LSTM model
from tensorflow.keras import layers
inputs = layers.Input(shape=(1,), dtype="string")
x = text_vectorizer(inputs)
x = embedding(x)
print(x.shape)
# x = layers.LSTM(64, return_sequences=True)(x) # return vector for each word in the Tweet (you can stack RNN cells as long as return_sequences=True)
x = layers.LSTM(64)(x) # return vector for whole sequence
print(x.shape)
# x = layers.Dense(64, activation="relu")(x) # optional dense layer on top of output of LSTM cell
outputs = layers.Dense(6, activation="softmax")(x)
model_1 = tf.keras.Model(inputs, outputs, name="LTSM_kaggle")

# Compile model
model_1.compile(loss="categorical_crossentropy",
                optimizer=tf.keras.optimizers.Adam(),
                metrics=["accuracy"])

# F model
model_1_history = model_1.fit(x_train,
                              y_train,
                              epochs=5,
                              validation_data=(x_test, y_test),
                              callbacks=[create_tensorboard_callback(SAVE_DIR,  "LSTM_kaggle")])

Archive:  /content/test_labels.csv.zip
replace test_labels.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n
Archive:  /content/train.csv.zip
replace train.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: nn
Archive:  /content/test.csv.zip
replace test.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n
Total training samples: 159571
Total test samples: 153164
Total samples: 312735
Number of words in vocab: 10000
Top 5 most common words: ['', '[UNK]', 'the', 'to', 'of']
Bottom 5 least common words: ['domination', 'divorced', 'distorting', 'direktor', 'dildo']
Original text:
shut up man!

SHUT UP I DID NOT DO ANYTHING Click Here for what I Wrote To You A Few Months Ago.

Embedded version:
(None, 15, 128)
(None, 64)
Saving TensorBoard log files to: model_logs/LSTM_kaggle/20210610-120635
Epoch 1/5
4987/4987 [==============================] - 140s 27ms/step - loss: 0.3571 - accuracy: 0.0203 - val_loss: -6.8089 - val_accuracy: 0.1393
Epoch 2/5
4987/4987 [==============================] - 113s 23ms/step - loss: 0.3366 - accuracy: 0.0562 - val_loss: -6.8957 - val_accuracy: 0.1584
Epoch 3/5
4987/4987 [==============================] - 112s 22ms/step - loss: 0.3337 - accuracy: 0.0624 - val_loss: -6.9302 - val_accuracy: 0.1449
Epoch 4/5
4987/4987 [==============================] - 112s 22ms/step - loss: 0.3350 - accuracy: 0.0619 - val_loss: -7.1676 - val_accuracy: 0.1888
Epoch 5/5
4987/4987 [==============================] - 110s 22ms/step - loss: 0.3444 - accuracy: 0.0660 - val_loss: -7.2704 - val_accuracy: 0.1589

In [ ]:
!pip install tensorboard

Requirement already satisfied: tensorboard in /usr/local/lib/python3.7/dist-packages (2.5.0)
Requirement already satisfied: grpcio>=1.24.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard) (1.34.1)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard) (1.8.0)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard) (0.6.1)
Requirement already satisfied: google-auth<2,>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard) (1.30.0)
Requirement already satisfied: setuptools>=41.0.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard) (57.0.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard) (3.3.4)
Requirement already satisfied: numpy>=1.12.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard) (1.19.5)
Requirement already satisfied: protobuf>=3.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard) (3.12.4)
Requirement already satisfied: wheel>=0.26; python_version >= "3" in /usr/local/lib/python3.7/dist-packages (from tensorboard) (0.36.2)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard) (2.23.0)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.7/dist-packages (from tensorboard) (1.0.1)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard) (0.4.4)
Requirement already satisfied: absl-py>=0.4 in /usr/local/lib/python3.7/dist-packages (from tensorboard) (0.12.0)
Requirement already satisfied: six>=1.5.2 in /usr/local/lib/python3.7/dist-packages (from grpcio>=1.24.3->tensorboard) (1.15.0)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<2,>=1.6.3->tensorboard) (4.2.2)
Requirement already satisfied: rsa<5,>=3.1.4; python_version >= "3.6" in /usr/local/lib/python3.7/dist-packages (from google-auth<2,>=1.6.3->tensorboard) (4.7.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<2,>=1.6.3->tensorboard) (0.2.8)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tensorboard) (4.0.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard) (2.10)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard) (1.3.0)
Requirement already satisfied: pyasn1>=0.1.3 in /usr/local/lib/python3.7/dist-packages (from rsa<5,>=3.1.4; python_version >= "3.6"->google-auth<2,>=1.6.3->tensorboard) (0.4.8)
Requirement already satisfied: typing-extensions>=3.6.4; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from importlib-metadata; python_version < "3.8"->markdown>=2.6.8->tensorboard) (3.7.4.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata; python_version < "3.8"->markdown>=2.6.8->tensorboard) (3.4.1)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard) (3.1.0)

In [ ]:
!tensorboard dev upload --logdir ./model_logs/LTSM_kaggle --one_shot

2021-06-10 12:16:53.722952: I tensorflow/stream_executor/platform/default/dso_loader.cc:53] Successfully opened dynamic library libcudart.so.11.0

***** TensorBoard Uploader *****

This will upload your TensorBoard logs to https://tensorboard.dev/ from
the following directory:

./model_logs/LTSM_kaggle

This TensorBoard will be visible to everyone. Do not upload sensitive
data.

Your use of this service is subject to Google's Terms of Service
<https://policies.google.com/terms> and Privacy Policy
<https://policies.google.com/privacy>, and TensorBoard.dev's Terms of Service
<https://tensorboard.dev/policy/terms/>.

This notice will not be shown again while you are logged into the uploader.
To log out, run `tensorboard dev auth revoke`.

Continue? (yes/NO) yes

Please visit this URL to authorize this application: https://accounts.google.com/o/oauth2/auth?response_type=code&client_id=373649185512-8v619h5kft38l4456nm2dj4ubeqsrvh6.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=openid+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email&state=tMWrP5rvgu5X76f45sYS9ZeLB2nFI0&prompt=consent&access_type=offline
Enter the authorization code: 4/1AY0e-g4_etXC1lsI05uEzdm3uswoYQ6Xw-D0huNQCMFANDacGc5Via9ZJXM

Data for the "text" plugin is now uploaded to TensorBoard.dev! Note that uploaded data is public. If you do not want to upload data for this plugin, use the "--plugins" command line argument.
./model_logs/LTSM_kaggle: No such directory.
User specified `one_shot` mode with an unavailable logdir. Exiting without creating an experiment.

In [ ]:

SAVE_DIR

'model_logs'

In [ ]:

import tensorflow as tf
from tensorflow.keras.layers.experimental.preprocessing import TextVectorization

# Use the default TextVectorization
text_vectorizer = TextVectorization(max_tokens=None, # how many words in the vocabulary (all of the different words in your text)
                                    standardize="lower_and_strip_punctuation", # how to process text
                                    split="whitespace", # how to split tokens
                                    ngrams=None, # create groups of n-words?
                                    output_mode="int", # how to map tokens to numbers
                                    output_sequence_length=None, # how long should the output sequence of tokens be?
                                    pad_to_max_tokens=True)

# Setup text vectorization variables
max_vocab_length = 10000 # max number of words to have in our vocabulary
max_length = 15 # max length our sequences will be (e.g. how many words from a Tweet does our model see?)

text_vectorizer = TextVectorization(max_tokens=max_vocab_length,
                                    output_mode="int",
                                    output_sequence_length=max_length,
                                    ngrams=2)

#crate model 2 for kaggle

# Create another LTSM 
from tensorflow.keras import layers
inputs = layers.Input(shape=(1,), dtype="string")
x = text_vectorizer(inputs)
x = embedding(x)
print(x.shape)
# x = layers.LSTM(64, return_sequences=True)(x) # return vector for each word in the Tweet (you can stack RNN cells as long as return_sequences=True)
x = layers.LSTM(64)(x) # return vector for whole sequence
print(x.shape)
# x = layers.Dense(64, activation="relu")(x) # optional dense layer on top of output of LSTM cell
outputs = layers.Dense(6, activation="softmax")(x)
model_2 = tf.keras.Model(inputs, outputs, name="LTSM_kaggle_2")

# Compile model
model_2.compile(loss="categorical_crossentropy",
                optimizer=tf.keras.optimizers.Adam(),
                metrics=["accuracy"])

#fit the model
model_2_history = model_2.fit(x_train,
                              y_train,
                              epochs=10,
                              validation_data=(x_test, y_test),
                              callbacks = [create_tensorboard_callback(SAVE_DIR,
                                                                       "LTSM_kaggle_2")])

#check the results
model_2.evaluate(x_test, y_test)

#predictions
model_2_pred_probs = model_2.predict(x_test)
model_2_pred_probs.shape

model_2_pred_probs[:10]

# Turn prediction probabilities into single-dimension tensor of floats
model_2_preds = tf.squeeze(tf.round(model_2_pred_probs)) # squeeze removes single dimensions
model_2_preds[:50]

"""results should be in panda dataframe in order to submit. """

(None, 15, 128)
(None, 64)
Saving TensorBoard log files to: model_logs/LTSM_kaggle_2/20210610-121819
Epoch 1/10
4987/4987 [==============================] - 118s 23ms/step - loss: 0.3713 - accuracy: 0.8088 - val_loss: -6.3074 - val_accuracy: 0.9990
Epoch 2/10
4987/4987 [==============================] - 114s 23ms/step - loss: 0.3562 - accuracy: 0.9942 - val_loss: -6.3482 - val_accuracy: 0.9990
Epoch 3/10
4987/4987 [==============================] - 134s 27ms/step - loss: 0.3469 - accuracy: 0.9942 - val_loss: -6.3957 - val_accuracy: 0.9990
Epoch 4/10
4987/4987 [==============================] - 114s 23ms/step - loss: 0.3400 - accuracy: 0.9942 - val_loss: -6.4292 - val_accuracy: 0.9990
Epoch 5/10
4987/4987 [==============================] - 133s 27ms/step - loss: 0.3348 - accuracy: 0.9942 - val_loss: -6.5007 - val_accuracy: 0.9990
Epoch 6/10
4987/4987 [==============================] - 136s 27ms/step - loss: 0.3307 - accuracy: 0.9942 - val_loss: -6.5048 - val_accuracy: 0.9990
Epoch 7/10
4987/4987 [==============================] - 117s 23ms/step - loss: 0.3274 - accuracy: 0.9942 - val_loss: -6.5404 - val_accuracy: 0.9990
Epoch 8/10
4987/4987 [==============================] - 116s 23ms/step - loss: 0.3248 - accuracy: 0.9942 - val_loss: -6.5845 - val_accuracy: 0.9990
Epoch 9/10
4987/4987 [==============================] - 115s 23ms/step - loss: 0.3227 - accuracy: 0.9942 - val_loss: -6.5932 - val_accuracy: 0.9990
Epoch 10/10
4987/4987 [==============================] - 133s 27ms/step - loss: 0.3210 - accuracy: 0.9942 - val_loss: -6.5885 - val_accuracy: 0.9990
4787/4787 [==============================] - 27s 6ms/step - loss: -6.5885 - accuracy: 0.9990

'results should be in panda dataframe in order to submit. '

In [ ]:
model_2.save('/content/drive/MyDrive/kaggle_models/final_model')

WARNING:absl:Found untraced functions such as lstm_cell_1_layer_call_and_return_conditional_losses, lstm_cell_1_layer_call_fn, lstm_cell_1_layer_call_fn, lstm_cell_1_layer_call_and_return_conditional_losses, lstm_cell_1_layer_call_and_return_conditional_losses while saving (showing 5 of 5). These functions will not be directly callable after loading.

INFO:tensorflow:Assets written to: /content/drive/MyDrive/kaggle_models/final_model/assets

INFO:tensorflow:Assets written to: /content/drive/MyDrive/kaggle_models/final_model/assets

In [ ]:
test_labels

                      id  toxic  severe_toxic  ...  threat  insult  identity_hate
0       00001cee341fdb12     -1            -1  ...      -1      -1             -1
1       0000247867823ef7     -1            -1  ...      -1      -1             -1
2       00013b17ad220c46     -1            -1  ...      -1      -1             -1
3       00017563c3f7919a     -1            -1  ...      -1      -1             -1
4       00017695ad8997eb     -1            -1  ...      -1      -1             -1
...                  ...    ...           ...  ...     ...     ...            ...
153159  fffcd0960ee309b5     -1            -1  ...      -1      -1             -1
153160  fffd7a9a6eb32c16     -1            -1  ...      -1      -1             -1
153161  fffda9e8d6fafa9e     -1            -1  ...      -1      -1             -1
153162  fffe8f1340a79fc2     -1            -1  ...      -1      -1             -1
153163  ffffce3fb183ee80     -1            -1  ...      -1      -1             -1

[153164 rows x 7 columns]

In [ ]:
model_2_pred_probs[:10]

array([[0.3147834 , 0.09744395, 0.21387893, 0.07872009, 0.2040349 ,
        0.09113872],
       [0.3147834 , 0.09744395, 0.21387893, 0.07872009, 0.2040349 ,
        0.09113872],
       [0.3147834 , 0.09744395, 0.21387893, 0.07872009, 0.2040349 ,
        0.09113872],
       [0.3147834 , 0.09744395, 0.21387893, 0.07872009, 0.2040349 ,
        0.09113872],
       [0.3147834 , 0.09744395, 0.21387893, 0.07872009, 0.2040349 ,
        0.09113872],
       [0.3147834 , 0.09744395, 0.21387893, 0.07872009, 0.2040349 ,
        0.09113872],
       [0.3147834 , 0.09744395, 0.21387893, 0.07872009, 0.2040349 ,
        0.09113872],
       [0.3147834 , 0.09744395, 0.21387893, 0.07872009, 0.2040349 ,
        0.09113872],
       [0.3147834 , 0.09744395, 0.21387893, 0.07872009, 0.2040349 ,
        0.09113872],
       [0.3147834 , 0.09744395, 0.21387893, 0.07872009, 0.2040349 ,
        0.09113872]], dtype=float32)

In [ ]:
out_df = pd.DataFrame(model_2_pred_probs)

In [ ]:
out_df.head()

          0         1         2        3         4         5
0  0.314783  0.097444  0.213879  0.07872  0.204035  0.091139
1  0.314783  0.097444  0.213879  0.07872  0.204035  0.091139
2  0.314783  0.097444  0.213879  0.07872  0.204035  0.091139
3  0.314783  0.097444  0.213879  0.07872  0.204035  0.091139
4  0.314783  0.097444  0.213879  0.07872  0.204035  0.091139

In [ ]:
test_labels.columns

Index(['id', 'toxic', 'severe_toxic', 'obscene', 'threat', 'insult',
       'identity_hate'],
      dtype='object')

In [ ]:
out_df.columns = [ 'toxic', 'severe_toxic', 'obscene', 'threat', 'insult',
       'identity_hate']

In [ ]:
out_df.head()

      toxic  severe_toxic   obscene   threat    insult  identity_hate
0  0.314783      0.097444  0.213879  0.07872  0.204035       0.091139
1  0.314783      0.097444  0.213879  0.07872  0.204035       0.091139
2  0.314783      0.097444  0.213879  0.07872  0.204035       0.091139
3  0.314783      0.097444  0.213879  0.07872  0.204035       0.091139
4  0.314783      0.097444  0.213879  0.07872  0.204035       0.091139

In [ ]:
test_labels.head()

                 id  toxic  severe_toxic  ...  threat  insult  identity_hate
0  00001cee341fdb12     -1            -1  ...      -1      -1             -1
1  0000247867823ef7     -1            -1  ...      -1      -1             -1
2  00013b17ad220c46     -1            -1  ...      -1      -1             -1
3  00017563c3f7919a     -1            -1  ...      -1      -1             -1
4  00017695ad8997eb     -1            -1  ...      -1      -1             -1

[5 rows x 7 columns]

In [ ]:
out_df.insert(0,'id',test_labels['id'])

In [ ]:
out_df

                      id     toxic  ...    insult  identity_hate
0       00001cee341fdb12  0.314783  ...  0.204035       0.091139
1       0000247867823ef7  0.314783  ...  0.204035       0.091139
2       00013b17ad220c46  0.314783  ...  0.204035       0.091139
3       00017563c3f7919a  0.314783  ...  0.204035       0.091139
4       00017695ad8997eb  0.314783  ...  0.204035       0.091139
...                  ...       ...  ...       ...            ...
153159  fffcd0960ee309b5  0.314829  ...  0.204065       0.091130
153160  fffd7a9a6eb32c16  0.314829  ...  0.204065       0.091130
153161  fffda9e8d6fafa9e  0.314829  ...  0.204065       0.091130
153162  fffe8f1340a79fc2  0.314829  ...  0.204065       0.091130
153163  ffffce3fb183ee80  0.314829  ...  0.204065       0.091130

[153164 rows x 7 columns]

In [ ]:
out_df.to_csv('predictions.csv',index = False)

In [ ]:
out_df.to_csv('/content/drive/MyDrive/datasets/predictions.csv',index = False)

In [ ]:
pd.read_csv('/content/drive/MyDrive/datasets/predictions.csv')

                      id     toxic  ...    insult  identity_hate
0       00001cee341fdb12  0.314783  ...  0.204035       0.091139
1       0000247867823ef7  0.314783  ...  0.204035       0.091139
2       00013b17ad220c46  0.314783  ...  0.204035       0.091139
3       00017563c3f7919a  0.314783  ...  0.204035       0.091139
4       00017695ad8997eb  0.314783  ...  0.204035       0.091139
...                  ...       ...  ...       ...            ...
153159  fffcd0960ee309b5  0.314829  ...  0.204065       0.091130
153160  fffd7a9a6eb32c16  0.314829  ...  0.204065       0.091130
153161  fffda9e8d6fafa9e  0.314829  ...  0.204065       0.091130
153162  fffe8f1340a79fc2  0.314829  ...  0.204065       0.091130
153163  ffffce3fb183ee80  0.314829  ...  0.204065       0.091130

[153164 rows x 7 columns]